
    <div class="question collapsed">How do I set the title of a page?</div>
    <div class="answer">
        <p>The page title is automatically set by Jeem from the page file name. "top-10-productivity-apps.html" becomes "Top 10 Productivity Apps". To set a custom page title in the page meta data section:</p>

        <code>
<pre>---
title = Top 10 Productivity Apps you need to check NOW!
---</pre>
        </code>
        <p>See <a href="#page-properties">Page Properties</a> for more details.</p>
    </div>


    <div class="question collapsed">How do I add images and other assets to my pages?</div>
    <div class="answer">
        <p>You can create a directory to contain your images and other resource files in the root directory. How you upload your files to that directory is up to you (FTP for example). If the directory is called "assets", you can reference asset files like so:
            <pre><code>&lt;img src=&quot;&#123;&#123;BASE_URL&#125;&#125;assets/cute-cat.jpg&quot;&gt;</code></pre>
        </p>
        <p>Jeem does not process assets or read any directories other than the "pages" directory.</p>
    </div>




    <div class="question collapsed">How do I link to a page on my website?</div>
    <div class="answer">
        <p>To insert links to pages while keeping the website code portable, you can use the <code>BASE_PAGE_URL</code> and <code>BASE_URL</code> Jeem values:
            <pre><code>&lt;a href="&#123;&#123;BASE_PAGE_URL&#125;&#125;slug-of-page"&gt;Link Text&lt;/a&gt;
&lt;a href="&#123;&#123;BASE_URL&#125;&#125;"&gt;Homepage&lt;/a&gt;</code></pre>
        </p>
    </div>



    <div class="question collapsed">How do I set a page to be hidden or private?</div>
    <div class="answer">
        <p>You can specify that a page should be hidden (not listed in navigation) or private (not accessible, implies hidden) by including "hidden" or "private" in the ordinal part of the page file name. For example: "<span class="ordinal">hidden.</span><span class="slug">my-page</span>.<span class="extension">php</span>". The page is also private if its file name starts with a dot. Finally, you can achieve this by explicitly setting the properties in the meta data section in your page:</p>
        <code><pre>---
hidden = true
# or
private = true
---</pre></code>
    </div>

    
    
    <div class="question collapsed">How can I add HTML to the head tag of a page?</div>
    <div class="answer">
        <p>Page file contents are placed inside the body tag, but you can insert html in the &lt;head&gt; tag as well. This is needed for some tags such as &lt;style&gt;, &lt;script&gt;, and &lt;meta&gt;. Simply add a &lt;head&gt; tag in your page and Jeem will extract it and put its contents in the head section (see the default theme).</p>

    <code><pre>&lt;head&gt;
    &lt;!-- font awesome --&gt;
    &lt;script defer src=&quot;https://use.fontawesome.com/releases/v5.0.13/js/all.js&quot; ...&gt;&lt;/script&gt;

    &lt;style&gt;
    .content-wrapper {
    max-width: 100%;
    padding: 0;
    }
    &lt;/style&gt;
&lt;/head&gt;

&lt;p&gt;Jeem will remove the above head tag and place its contents where it belongs.&lt;/p&gt;</pre></code>
    </div>