/* Additional styles specific to the Jeem page */

.content-wrapper {
    max-width: 100%;
    padding: 0;
}

.jeem-header {
    background-color: #473e35;
    background-image: url("jeem-header.jpg");
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.jeem-header > div {
    background: rgba(0,0,0,0.4);
    width: 100%;
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
    display: flex;
    flex-flow: column;
}
.jeem-header header {
    font-size: 3em;
    margin: 0.5em;
}
.jeem-header a {
    padding: 1em;
    margin: 0.5em;
    border: 1px solid silver;
    display: inline-block;
}
.jeem-header a:visited { color: silver; }
.jeem-header a:hover { color: white; }
.jeem-content-wrapper {
    max-width: 920px;
    padding: 3em 0;
    margin: 0 auto;
}
