<!--
    ---
    title = Theme Components
    theme = default
    ---
-->

<h1>Theme Showcase</h1>

<div class="grid gutters">
    <div class="cell">
        <h1>h1 heading</h1>
        <h2>h2 heading</h2>
        <h3>h3 heading</h3>
        <h4>h4 heading</h4>
    </div>
    <div class="cell">
        <p>This page shows what's in the default theme for Jeem. This is a paragraph. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam fugit consequuntur pariatur sequi itaque rem omnis laudantium natus officia veritatis ad reiciendis repellat, magni eos id deleniti ipsa corrupti neque!</p>
        <p>Here is <strong>strong</strong> text, <small>small text</small>, and a regular <a href="#">link</a>, and a <a href="#" class="visited">visited link</a></p>
        <div display="flex">
            <a href="#" class="link">a.link</a>
            <a href="#" class="button">a.button</a>
            <button>button element</button>
            <button class="main">button.main</button>
        </div>
        <p>Here is a note: <span class="note">span.note</span>, and here is <mark>text inside a mark tag</mark></p>
        <blockquote>
            <em>Blockquote.</em> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum rem qui minima cum non rerum magnam! Quis itaque voluptatem tenetur architecto nihil nulla, ab facilis. Esse laboriosam in minus eos.
        </blockquote>
    </div>
</div>

<h4>Unordered List</h4>
<ul>
    <li>List item</li>
    <li>List item</li>
    <li>List item which is quite long. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium itaque nostrum doloribus explicabo magni voluptas et tempore quod impedit cumque quibusdam dolore incidunt a deserunt, sunt sit enim sapiente amet.</li>
    <li>List item</li>
</ul>

<h4>Code</h4>
<code>
<pre>
int main()
{
    printf("Hello world!");
    return 0;
}
</pre>
</code>

<h4>Table</h4>
<table>
    <tr><th>Name</th><th>Value</th></tr>

    <tr><td>&#123;&#123;page.title&#125;&#125;</td><td>{{page.title}}</td></tr>
    <tr><td>&#123;&#123;page.filepath&#125;&#125;</td><td>{{page.filepath}}</td></tr>
    <tr><td>&#123;&#123;page.slug&#125;&#125;</td><td>{{page.slug}}</td></tr>
    <tr><td>&#123;&#123;page.url&#125;&#125;</td><td>{{page.url}}</td></tr>
    <tr><td>&#123;&#123;page.dir&#125;&#125;</td><td>{{page.dir}}</td></tr>
    <tr><td>&#123;&#123;page.theme&#125;&#125;</td><td>{{page.theme}}</td></tr>
    <tr><td>&#123;&#123;PAGES_DIR&#125;&#125;</td><td>{{PAGES_DIR}}</td></tr>
    <tr><td>&#123;&#123;THEMES_DIR&#125;&#125;</td><td>{{THEMES_DIR}}</td></tr>
    <tr><td>&#123;&#123;BASE_URL&#125;&#125;</td><td>{{BASE_URL}}</td></tr>
    <tr><td>&#123;&#123;BASE_PAGE_URL&#125;&#125;</td><td>{{BASE_PAGE_URL}}</td></tr>
    <tr><td>&#123;&#123;JEEM_CLEAN_URLS&#125;&#125;</td><td>{{JEEM_CLEAN_URLS}}</td></tr>
    <tr><td>&#123;&#123;JEEM_VERSION&#125;&#125;</td><td>{{JEEM_VERSION}}</td></tr>
</table>

<h4>Blog Posts</h4>
<div class="blog-posts">
    <div class="post">
        <header>
            <a href="#">Blog Post Title</a>
            <div class="date">12-jul-2019</div>
        </header>
        <div class="excerpt">
            <p>Blog post excerpt goes here. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non harum et est rem esse qui, adipisci natus pariatur architecto excepturi nemo id earum quae laudantium ipsam ad sequi officiis porro.</p>
        </div>
    </div>

    <div class="post">
        <header><a href="#">Another blog post with no date</a></header>
        <div class="excerpt">Blog post excerpt.</div>
    </div>

    <div class="post">
            <header>
                <a href="#">Blog Post Title</a>
                <div class="date">12-jul-2019</div>
            </header>
            <div class="excerpt">
                <p>Blog post excerpt goes here. Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
            </div>
        </div>
</div>

<hr>


<h3>Flex Grid</h3>
<h4>Media Object Layout</h4>
<div class="grid gutters nocollapse">
    <div class="cell">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit reprehenderit a earum officia magnam maiores quasi aut? Cupiditate hic dolorum magnam unde facere dignissimos sequi deleniti nisi! Aspernatur, quibusdam? Vero.</div>
    <div><img src="https://source.unsplash.com/collection/141056/250x250"></div>
</div>

<div class="grid gutters nocollapse">
    <div><img src="https://source.unsplash.com/collection/141057/400x250"></div>
    <div class="cell">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit reprehenderit a earum officia magnam maiores quasi aut? Cupiditate hic dolorum magnam unde facere dignissimos sequi deleniti nisi! Aspernatur, quibusdam? Vero.</div>
</div>

<h4>Simple 3 Columns Layout</h4>
<div class="grid gutters">
    <div class="cell visualize">.cell</div>
    <div class="cell visualize">.cell</div>
    <div class="cell visualize">.cell</div>
</div>
<p><small>Collapses on small screens</small></p>


<h3>Youtube</h3>
<div class="youtube-wrapper">
    <iframe src="https://www.youtube.com/embed/6v2L2UGZJAM?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<h3>Figure & figcaption</h3>
<figure>
    <img src="https://source.unsplash.com/collection/17098/640x480">
    <figcaption>This is an image from unsplash that shows some floral beauty.</figcaption>
</figure>

<h3>.notice</h3>
<div class="notice">div.nitoce for important information</div>
<div class="notice">
    <header>Notice Header</header>
    <p><code>.notice>header{header text}+p{notice text}.</code><br>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt molestias modi quae sapiente saepe, ab necessitatibus? Non, adipisci. Quos dicta, obcaecati unde nulla officia exercitationem aliquid ratione fugit nostrum ipsam.</p>
</div>

<h3>.features</h3>
<div class="features">
    <div>
        <header>
            Customizable
        </header>
        <p>You can easily customize the product to your liking. The settings window is very comprehensive with <abr title="Drag and Drop">DnD</abr> support</p>
    </div>

    <div>
        <header>
            E-mail integration
        </header>
        <p>The product seemlessly integrates with your e-mail so you can use the product while you use your e-mail.</p>
    </div>
    <div>
        <header>
            Light
        </header>
        <p>Our product is so light that you won't even know it's there if it wasn't for its amazing benefits.</p>
    </div>
    <div>
        <header>
            Baby-safe
        </header>
        <p>We have babies of our own so we understand your concern, but please rest assured, there is no way that the product can do any harm whatsoever to your baby or anybody else's for that matter.</p>
    </div>
    <div>
        <header>
            Fail-safe
        </header>
        <p>The product is designed to never fail. If it does, please contact us as quickly as possible before posting about it on social media.</p>
    </div>
</div>


<h3>Questions and Answers</h3>

<div class="question collapsed">How can I become better at this?</div>
<div class="answer">
    <p>Practice. Lots of practice.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis excepturi cupiditate modi unde, deserunt officia, quam doloribus, suscipit quod nemo error dolorum id nam et iusto in omnis quasi delectus?</p>
</div>


<div class="question collapsed">What's the meaning of life?</div>
<div class="answer">
    <p>Yes</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta mollitia laboriosam, sint at similique repellendus eveniet enim temporibus assumenda porro neque dignissimos consequatur aliquid nemo totam nisi molestiae. Amet, nemo.At, nulla. Nulla, hic delectus quam dignissimos odio exercitationem corporis sit officiis expedita in impedit nesciunt temporibus ducimus eaque vero alias nobis eum enim obcaecati eius dolorum, voluptate facere? Veritatis.</p>
</div>