<div class="rtl">
    <p>This page may not show up on old versions of PHP.</p>
    <p>
        تحية عطرة طيبة لكم يا سادة باللغة العربية
    </p>
    
    <div class="grid gutters">
        <div class="cell" >
            <div><img src="https://source.unsplash.com/featured/?mosque" alt=""></div>
            <div><img src="https://source.unsplash.com/featured/?jordan" alt=""></div>
        </div>
        <div class="cell" >
            <div><img src="https://source.unsplash.com/featured/?dubai" alt=""></div>
            <div><img src="https://source.unsplash.com/featured/?egypt" alt=""></div>
        </div>
    </div>
</div>