@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*@import url("https://fonts.googleapis.com/icon?family=Material+Icons");*/

/*********************** css reset ********************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}


:root {
    /* --main-color: DarkOliveGreen; */
    /* --main-color: dodgerblue; */
    --main-color: rgb(158, 185, 0);
    --main-color-text: rgba(255,255,255,0.75); /* The text color for text in the header and footer */
    --main-color-text-hover: rgba(255,255,255,1);
}


.left { float: left; }
.right { float: right; }
.block { display: block; }
.centered-block { display: block; margin-left: auto; margin-right: auto; }
.padded { padding: 1em; }
.margined { margin: 1em; }
.rtl { direction: rtl; }
.center { text-align: center; }
.full-width { width: 100%; }
.half-width { width: 50%; }
.third-wdith { width: 33.33%; }
.fourth-width { width: 25%; }
.fifth-width { width: 20%; }
.two-thirds-width { width: 66.66%; }

.grid {
    display: flex;
    align-items: flex-start;
}
.grid .cell {
    flex: 1;
}
.grid .noresize, .grid .media {
    flex-shrink: 0;
    flex-grow: 0;
}
.grid.gutters {
    margin: -1em 0 0 -1em;
}
.grid.gutters > * {
    margin: 1em 0 0 1em;
}
.grid.center {
    justify-content: center;
}

th {
    font-weight: bold;
}

table { margin-bottom: 1em; }

table tr:nth-child(even) {
    background: rgba( 0,0,0,0.075);
}

.visualize {
    background: rgba(0, 0, 0, 0.15);
}

pre {
    background: rgba( 0,0,0, 0.075 );
    border: 1px dotted rgba(0,0,0,0.3);
    padding: 1.2em;
    border-left: 3px solid var(--main-color);
}

@media (max-width: 600px) {
    .grid:not(.nocollapse) { display: block; margin: 0;}
    .grid:not(.nocollapse) > * { width: 100%; margin: 0 0 0.8em 0; }
}

.youtube-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
    height: 0;
}
.youtube-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
}

body {
    color: #222;
    background-color: #ccc;
    background-image: url("furley_bg.png");
    font-size: 14pt;
    font-family: 'Abel';
    /*
    font-family: 'Quicksand';
    font-family: 'Maven Pro', sans-serif;
    */
}

::selection{ background-color: var(--main-color); color: white; }
::-moz-selection{ background-color: var(--main-color); color: white; }

.body-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
    box-sizing: border-box;
    padding: 2em 0;
}

header.main {
    padding: 0.5em 0.7em;
    font-size: 1.4em;
}
header.main, footer.main {
    background-color: var(--main-color);
    background-image: linear-gradient(to bottom left, rgba(255,255,255,0.15), rgba(0,0,0,0.4)), url("img-noise-256x150.png");
    color: var(--main-color-text);
}
footer.main {
    border-top: 1px solid gray;
    padding: 0.6em;
    margin-top: auto;
    font-size: 0.9em;
}

footer.main .cell { text-align: center; }
footer.main .cell:first-of-type { text-align: left; }
footer.main .cell:last-of-type { text-align: right; }

header.main a, footer.main a {
    text-decoration: none;
    padding: 0.5em;
    color: var(--main-color-text);
    transition: color 0.25s;
}
header.main a:visited, footer.main a:visited {
    color: var(--main-color-text);
}
header.main a:hover, footer.main a:hover{
    color: var(--main-color-text-hover);
}

.social ul {
    list-style: none;
}
.social li {
    display: inline-block;
}

#last-update {
    font-size: 0.6em;
    color: #666;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }


nav.main {
    background-color: silver;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,
        rgba(241,241,241,1) 50%,
        rgba(225,225,225,1) 51%,
        rgba(246,246,246,1) 100% );
    color: black;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    box-shadow: 3px 0px 4px #444;
}
nav.main ul {
    list-style: none;
}
nav.main li {
    display: inline-block;
}
nav.main a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 0.5em 1em;
}
nav.main a:hover, nav.main a.current {
    color: white;
    background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    padding: 1em 0;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

h2 {
    font-size: 1.6em;
    padding: 0.8em 0.4em;
    font-weight: 500;
    color: var(--main-color);
}

h3 {
    font-size: 1.5em;
    padding: 0.8em 0.4em;
}

h4 {
    font-size: 1.3em;
    padding: 0.8em 0.4em;
}

/*
h2, h3, h4 {
    border-radius: 6px 0 0 6px;
    padding-left: 0.5em;
    margin-bottom: 0.2em;
}
h2 { border-left: 3px solid crimson; }
h3 { border-left: 2px solid crimson; }
h4 { border-left: 1px solid crimson; }
*/

code, pre {
    font-family: consolas;
    font-size: 12px;
    overflow: auto;
    tab-size: 2.5em;
}

.content-wrapper a {
    color: var(--main-color);
    text-decoration: none;
}
a:visited, a.visited {
    color: darkviolet;
}

a.link {
    padding: 0.7em;
    margin: 0.5em;
    border: 1px solid black;
    color: black;
    display: inline-block;
}
a.link:hover {
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.note, .note-list li {
    display: inline-block;
    background-color: var(--main-color);
    background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9));
    border: 1px solid var(--main-color);
    border-radius: 6px;
    padding: 0.2em 0.8em;
    color: var(--main-color);
}

.note-list {
    text-align: center;
    list-style: none;
}

mark {
    background-color: var(--main-color);
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6));
}


.blog-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.blog-posts .post{
    background-color: white;
    width: 300px; height: 140px;
    border: 1px solid silver;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    margin: 0.5em 1.0em;
    padding: 0.4em 1em;
    font-size: 12pt;
    position: relative;
    display: flex;
    flex-direction: column;
}
.post header {
    color: var(--main-color);
    font-weight: bold;
    margin-bottom: 0.75em;
    padding-right: 3em;
}
.post header a { color: var(--main-color); }

.post .date {
    background: var(--main-color);
    color: white;
    position: absolute;
    right: -1em;
    top: 6px;
    text-align: center;
    padding: 4px 6px;
    font-size: 9pt;
    height: 24px;
    font-weight: normal;
    
}
.post .date:before {
    content: '';
    width: 16px;
    height: 16px;
    background: #444;
    position: absolute;
    transform: rotate(45deg);
    right: 4px;
    top: 16px;
    z-index: -1;
}

.post .excerpt {
    overflow: hidden;
}

.content-wrapper img {
    max-width: 100%;
}
.content-wrapper img.right {
    margin-left: 1em;
}
.content-wrapper img.left {
    margin-right: 1em;
}
.content-wrapper video {
    display: block;
    max-width: 100%;
    margin: 2em auto;
}
.content-wrapper p {
    margin-bottom: 1.5em;
    /*text-indent: 1em;*/
}

.content-wrapper strong, .content-wrapper em, b {
    font-weight: bold;
}
.content-wrapper small, .content-wrapper .weak {
    font-weight: lighter;
    font-size: 0.8em;
}

.content-wrapper blockquote {
    color: gray;
    font-style: italic;
    padding: 1em;
    margin: 1em 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    line-height: 1.8em;
}

.content-wrapper blockquote:before {
    content: open-quote;
    font-size: 4em;
    position: relative;
    left: -0.25em;
    top: 0.25em;
    line-height: 0;
    color: var(--main-color);
    opacity: 0.3;
}

.content-wrapper hr {
	border: 0;
    height: 1px;
    background: linear-gradient(to right,
								rgba( 0, 0, 0, 0.05),
								#333,
                                rgba( 0, 0, 0, 0.05 ) );
	margin: 1.6em 0;
}

.content-wrapper button, a.button {
    display: inline-block;
    background: rgba(255,255,255,0.5);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    margin: 0.4em;
    padding: 0.7em;
}

.content-wrapper button:hover, a.button:hover {
    background: var(--main-color);
    color: white;
}
.content-wrapper button:active, a.button:active {
    box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.85);
}

.content-wrapper button.main, a.button.main {
    background-color: var(--main-color);
    background-image: linear-gradient(to bottom, rgba(245,245,245,0.3) 0%, rgba(224,224,224,0.3) 50%, rgba(0,0,0,0.25) 51%, rgba(0,0,0,0.3) 100%);
    color: white;
}
.content-wrapper button.main:hover, a.button.main:hover {
    box-shadow: 0px 0px 4px black;
}
.content-wrapper button.main:active, a.button.main:active {
    box-shadow: 0px 0px 1px black;
}

.content-wrapper figure {
    text-align: center;
}
.content-wrapper figure figcaption {
    font-style: italic;
    color: gray;
    font-size: 0.9em;
}
.content-wrapper figure img {
    border: 1px solid rgba(100,100,100,0.5);
}

/*
.content-wrapper ul {
    list-style: none;
}
.content-wrapper ul li::before {
    content: "•";
    color: #c9798f;
    margin-right: 0.5em;
}
*/
.content-wrapper ul li,
.content-wrapper ol li {
    margin: 0.8em 0;
    margin-left: 1em;
}

.content-wrapper th, .content-wrapper td {
    line-height: 1.6em;
    padding: 0em 1em;
}
.content-wrapper th {
    font-weight: bold;
}

.notice {
    background: white;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 1em;
    margin: 1em 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85em;
}

.notice header {
    font-size: 1.4em;
    margin-bottom: 1em;
    color: var(--main-color);
    text-align: center;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.features > * {
    text-align: center;
    width: 300px;
    vertical-align: top;
    padding: 0em 0.5em;
    box-sizing: border-box;
    margin-bottom: 2em;

    /*
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
    border-image-slice: 1;
    */
}

.features header {
    font-weight: bold;
    font-size: 1.1em;
    line-height: 2.5em;
    white-space: nowrap;
    transition: color 2s;
}
.features > *:hover header {
    color: var(--main-color);
    transition: color 0.2s;
}


.question {
    font-weight: bold;
    font-size: 1.1em;
    padding: 0.5em 0;
    cursor: pointer;
    border-bottom: 2px dashed rgba(0,0,0,0.1);
}
.question, .answer{ margin-bottom: 1em; }
.question::before { content: "\025BE"; }
.question.collapsed::before { content: "\025B8"; }
.question::before, .question.collapsed::before { padding-right: 0.5em; }
.question.collapsed { color: var(--main-color); }
.answer {
    display: block;
    padding-left: 1em;
}
.question.collapsed + .answer {
    display: none;
}